<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BuddyBlend"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/brand"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuddyBlend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.ViewProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UserAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SearchingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.ViewChatUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ViewTaggingUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ViewReactionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TagUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SelectPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CreatePostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.MediaViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MediaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignupActivity"
            android:exported="false" />

        <service
            android:name=".service.MyFMService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>